funciones/__pycache__/saludo.cpython-313.pyc
modulos/funciones/__pycache__/circunferencia.cpython-313.pyc
modulos/funciones/__pycache__/cuadrilatero.cpython-313.pyc
modulos/funciones/__pycache__/triangulo.cpython-313.pyc
ejercicios/gestion_notas/asignaturas/__pycache__/gestion_asignaturas.cpython-313.pyc
ejercicios/gestion_notas/data/__pycache__/asignaturas.cpython-313.pyc
ejercicios/gestion_notas/negocio/__pycache__/gestion_asignaturas.cpython-313.pyc
ejercicios/gestion_notas/negocio/__pycache__/gestion_profesores.cpython-313.pyc
ejercicios/gestion_notas/auxiliares/__pycache__/menu.cpython-313.pyc
ejercicios/gestion_notas/auxiliares/__pycache__/version.cpython-313.pyc
.gitignore
ejercicios/gestion_notas/data/__pycache__/crear_data.cpython-313.pyc
ejercicios/gestion_notas/data/__pycache__/profesores.cpython-313.pyc
ejercicios/gestion_notas/auxiliares/__pycache__/data_conexion.cpython-313.pyc
ejercicios/gestion_notas/data/__pycache__/conexion.cpython-313.pyc
