funciones/__pycache__/saludo.cpython-313.pyc
modulos/funciones/__pycache__/circunferencia.cpython-313.pyc
modulos/funciones/__pycache__/cuadrilatero.cpython-313.pyc
modulos/funciones/__pycache__/triangulo.cpython-313.pyc
